.article-body p, .article-body-teaser {
  font-family: American Typewriter;
  font-size: 16px;
}

.navbar-brand {
  padding: 10px;
  line-height: 30px;
}

.navbar-brand img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
